version: "3.9"
services:
  postgres:
    image: library/postgres:${POSTGRES_VERSION}-alpine
    restart: always
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  php:
    build:
      args:
        VERSION: ${PHP_VERSION}
      context: ./
      dockerfile: ./php/Dockerfile
    depends_on:
      - postgres
    volumes:
      - ../app:/srv/app:rw,cached
      - ../app/var:/srv/app/var:rw
    environment:
      XDEBUG_SESSION: ${PHP_XDEBUG_IDEKEY}
      APP_ENV: ${APP_ENV}
  nginx:
    build:
      args:
        VERSION: ${NGINX_VERSION}
      context: ./
      dockerfile: ./nginx/Dockerfile
    depends_on:
      - php
    volumes:
      - ../app/public:/srv/app/public:ro
    ports:
      - "${NGINX_PORT}:80"